body{
    background-color:#ffffff;
    margin: 0;
}

.header{
    background-color:#2e8b57;
}

h1{
   color: black ;
}

.header-left{
    width: 70%;
    display: inline-block;
}

.header-right{
    width: 30%;
    display: inline-block;
}

.menu-item{
    color:white;
    display: inline-block;
    border: 1px solid;
}

.dropbtn{
    color: white;
    background-color: #2e8b57;
    display: inline-block;
    border: 1px solid;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
}

.dropdown{
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: green;
    min-width: 250px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: grey;}


.special{
   
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.content{
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-position: right top;
}

div.content-left{
    width: 40%;
    display: inline-block;
}

div.content-right{
    display: inline-block;
    width: 50%;
}

.footer{
    color: white;
    background-color:#2e8b57;
    border: 1px solid; padding: 0%;
}